openapi: 3.0.0
servers:
  - url: https://uperevozkami.online:44983/tomoru/hs/webhook
info:
  description: 'Описание необходимых методов webhook'
  version: "1.0.2"
  title: 'webhook для tomoru'
  contact:
    email: vasdmipro@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Main
    description: 'Основное'
paths:
  /call-result:
    post:
      tags:
        - Main
      summary: Сохраняет информацию о результате звонка
      operationId: CallResult
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallResultRequest'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CallResultResponse'
        '400':
          description: Неверные параметры
components:
  schemas:
    
    CallResultRequest:
      required:
        - car_type
        - body_option
        - start_date
        - phone
        - ready_this_week
        - ready_in_two_days
        - final_answer
      properties:
        car_type:
          type: string
          description: 'Тип автомобиля'
        body_option:
          type: string
          description: 'Тип кузова'
        start_date:
          type: string
          description: 'Когда готовы выйти на работу'
          example: 'Ну на следующей неделе только'
        ready_this_week:
          type: string
          description: 'Готовы выйти на этой неделе'
          example: 'Да'
        ready_in_two_days:
          type: string
          description: 'Готовы выйти в ближайшие 2 дня'
          example: 'Да'
        final_answer:
          type: string
          description: 'Финальная фраза водителя'
          example: 'Надо подумать'
        phone:
          type: string
          description: 'Номер телефона в международном формате'
          example: '79998887766'
      type: object
      
    CallResultResponse:
      required:
        - status
      properties:
        id:
          type: string
          format: uuid
          example: a4855589-66ce-11e7-9f1c-e41f13c2b942
          description: 'Уникальный идентификатор обращения у нас в базе'
        status:
          type: string
          enum:
            - success
            - error
          example: 'sucсess'
        error_message:
          type: string
          description: 'Описание ошибки'
      type: object